h1 {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}
.popup {
    width: 400px;
    border-radius: 6px;
    position: absolute;
    background: #fff;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:  #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.btn {
    padding: 10px 60px;
    text-align: center;
    background: whitesmoke;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    color: black;
    margin-top: 5px;
}
.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup p {
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.phone-contact {
    width: 30%;
    float: right;
    text-align: center;
    font-size: 20px;
    margin: 0 10%;
}
b {
    font-size: 20px;
}
p.phone-details {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}
.phone-contact h2 {
    border-bottom: 1px dashed black;
}
.contact-name {
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}
a.mailto {
    text-decoration: none;
    color: black;
}
.NIP {
    font-size: 15px;
    font-weight: bold;
}



@media (max-width: 450px) {
    .phone-contact {
        font-size: 13px;
    }
    input.submit {
        width: max-content;
    }
}
